<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            color:rgb(221, 53, 23);
            text-align: center;
            background-color:whitesmoke;
        }
        h2{
            padding-top: 50px;
            font-size: 50px;
        }
    </style>
</head>
<body>
   <h2>we are closed</h2> 
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTH6fgvztsgf26YKURVInLyvAhHMAIwW3Rbgw&usqp=CAU" alt="colsed" height="400px">
</body>
</html>