<header class="masthead" style="background-color:blue;color:white; height:700px;
 ">
            <div class="container"  style="
            padding-left:400px;
            padding-top:200px
 ">
                <div class="masthead-subheading"style="
            font-size:48px;
 ">Welcome to our brand!</div>
                <div class="masthead-heading text-uppercase" style="
                 padding-left:50px;
            font-size:36px;
 ">it's all about passion</div>
            </div>
        </header>
